
# For test projects, we don't follow the same rules as production code
[*.cs]
dotnet_diagnostic.SA1600.severity = none # Disable "Elements must be documented" rule
dotnet_diagnostic.CA1859.severity = none # Use concrete types when possible for improved performance