name: Auto Assign to Project

on:
  issues:
    types:
      - opened

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  add-to-project:
    name: Add issue to Team Platform project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@main
        with:
          project-url: https://github.com/orgs/Altinn/projects/20
          github-token: ${{ secrets.ASSIGN_PROJECT_TOKEN }}
