name: Auto Assign to Project

on:
  issues:
    types:
      - opened
jobs:
  add-to-project:
    name: Add issue to Team Altinn Studio project
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/add-to-project@main
        with:
          project-url: https://github.com/orgs/Altinn/projects/164
          github-token: ${{ secrets.ASSIGN_PROJECT_TOKEN }}
