name: Verify dotnet format

on:
  pull_request:
permissions:
  contents: read

jobs:
  verify-no-changes:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: Setup .NET
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5
      with:
        dotnet-version: 8.0.x
    - name: Install csharpier
      run: dotnet tool restore
    - name: Run csharpier
      run: dotnet csharpier check .
