name: Pack and publish nugets

on:
  release:
    types:
      - published
jobs:
  build-pack:
    if: startsWith(github.ref, 'refs/tags/Storage.Interface-')
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: |
            9.0.x
      - name: Install deps
        run: |
          cd src/Storage.Interface
          dotnet restore
      - name: Build
        run: |
          cd src/Storage.Interface
          dotnet build --configuration Release --no-restore -p:Deterministic=true -p:BuildNumber=${{ github.run_number }}
      - name: Pack and publish Storage.Interface
        run: |
          cd src/Storage.Interface
          dotnet pack --configuration Release --no-restore --no-build -p:BuildNumber=${{ github.run_number }} -p:Deterministic=true
          dotnet nuget push bin/Release/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }}
