name: Use Case - AT

on:
  workflow_dispatch:
  schedule:
    - cron: '*/15 * * * *'
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]
jobs:
  usecase-test:
    strategy:
      fail-fast: false
      matrix:
        environment: [AT22, AT23, AT24]
    outputs:
      failed-AT22: ${{ steps.set-failure.outputs.AT22 }}
      failed-AT23: ${{ steps.set-failure.outputs.AT23 }}
      failed-AT24: ${{ steps.set-failure.outputs.AT24 }}
    environment: ${{ matrix.environment }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env: # Shared environment variables in k6 scripts
      altinn_env: ${{ matrix.environment }}
      apimSubsKey: ${{ secrets.APIM_SUBSKEY }}
      app: ${{ vars.APP }}
      org: ${{ vars.ORG }}
      partyId: ${{ secrets.PARTY_ID }}
      pid: ${{ secrets.PERSON_NUMBER }}
      tokenGeneratorUserName: ${{ secrets.TOKENGENERATOR_USERNAME }}
      tokenGeneratorUserPwd: ${{ secrets.TOKENGENERATOR_USERPASSWORD }}
      userId: ${{ secrets.USER_ID }}
      useTestTokenGenerator: true
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: grafana/setup-k6-action@ffe7d7290dfa715e48c2ccc924d068444c94bde2 # v1.1.0
      - name: Run use case tests for endpoint 'applications'
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/applications.js
          inspect-flags: -e altinn_env=${{matrix.environment}} # Supplies the value for pre-run validation, when env vars / flags are not yet defined
      - name: Run use case tests for endpoint 'instances'
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/instances.js
          inspect-flags: -e altinn_env=${{matrix.environment}} # Supplies the value for pre-run validation, when env vars / flags are not yet defined
      - name: Run use case tests for endpoint 'instances/sbl'
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/messageboxinstances.js
          flags: -e apimSblSubsKey=${{ secrets.APIM_SBL_SUBSKEY }}
          inspect-flags: -e altinn_env=${{matrix.environment}} # Supplies the value for pre-run validation, when env vars / flags are not yet defined
      - name: Run use case tests for endpoint 'data'
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/data.js
          inspect-flags: -e altinn_env=${{matrix.environment}} # Supplies the value for pre-run validation, when env vars / flags are not yet defined
      - name: Run use case tests for endpoint 'process'
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/process.js
          inspect-flags: -e altinn_env=${{matrix.environment}} # Supplies the value for pre-run validation, when env vars / flags are not yet defined
      - name: Run use case tests for endpoint 'sign'
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/sign.js
          inspect-flags: -e altinn_env=${{matrix.environment}} # Supplies the value for pre-run validation, when env vars / flags are not yet defined
      - name: Run use case tests for endpoint 'texts'
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/texts.js
          inspect-flags: -e altinn_env=${{matrix.environment}} # Supplies the value for pre-run validation, when env vars / flags are not yet defined

      - name: Set failure output
        id: set-failure
        if: failure()
        run: |
          echo "${{ matrix.environment }}=true" >> "$GITHUB_OUTPUT"
  slack-notify:
    if: failure()
    needs: usecase-test
    permissions: {}
    strategy:
      matrix:
        environment: [AT22, AT23, AT24]
        include:
          - environment: AT22
            output: failed-AT22
          - environment: AT23
            output: failed-AT23
          - environment: AT24
            output: failed-AT24
    runs-on: ubuntu-latest
    steps:
      - name: Dummy Slack notification
        run: |
          echo '${{ needs.usecase-test.outputs[matrix.output] }}'
      # - name: Send notification
      #   if: needs.usecase-test.outputs[matrix.output] == 'true'
      #   uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
      #   with:
      #     webhook-type: incoming-webhook
      #     webhook: ${{ secrets.SLACK_WEBHOOK_URL_TEST }}
      #     payload: |
      #       {
      #         "text": ":warning: Storage use case test failure in ${{ matrix.environment }} :warning: \n\n Workflow available here: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
      #       }
