name: Use Case - TT02

on:
  workflow_dispatch:
  schedule:
    - cron: '*/15 * * * *'
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]
jobs:
  usecase-test:
    environment: TT02
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env: # Shared environment variables in k6 scripts
      altinn_env: TT02
      apimSubsKey: ${{ secrets.APIM_SUBSKEY }}
      app: ${{ vars.APP }}
      org: ${{ vars.ORG }}
      userName: ${{ secrets.USE_CASE_USER_NAME }}
      userPassword: ${{ secrets.USER_PASSWORD }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: grafana/setup-k6-action@ffe7d7290dfa715e48c2ccc924d068444c94bde2 # v1.1.0
      - name: Run use case tests for endpoint 'applications'
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/applications.js
          inspect-flags: -e altinn_env=TT02 # Supplies the value for pre-run validation, when env vars / flags are not yet defined

      - name: Run use case tests for endpoint 'instances'
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/instances.js
          flags: -e encodedJwk=${{ secrets.MP_ENCODEDJWK }} -e mpClientId=${{ secrets.MP_CLIENT_ID }} -e mpKid=${{ secrets.MP_KID }} -e pid=${{ secrets.PERSON_NUMBER }}
          inspect-flags: -e altinn_env=TT02 # Supplies the value for pre-run validation, when env vars / flags are not yet defined

      - name: Run use case tests for endpoint 'instances/sbl'
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/messageboxinstances.js
          flags: -e apimSblSubsKey=${{ secrets.APIM_SBL_SUBSKEY }}
          inspect-flags: -e altinn_env=TT02 # Supplies the value for pre-run validation, when env vars / flags are not yet defined
      - name: Run use case tests for endpoint 'data'
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/data.js
          inspect-flags: -e altinn_env=TT02 -e app=${{ vars.APP }} # Supplies the value for pre-run validation, when env vars / flags are not yet defined
      - name: Run use case tests for endpoint 'process'
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/process.js
          inspect-flags: -e altinn_env=TT02 # Supplies the value for pre-run validation, when env vars / flags are not yet defined
      - name: Run use case tests for endpoint 'sign'
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/sign.js
          inspect-flags: -e altinn_env=TT02 # Supplies the value for pre-run validation, when env vars / flags are not yet defined
      - name: Run use case tests for endpoint 'texts'
        if: always()
        uses: grafana/run-k6-action@a15e2072ede004e8d46141e33d7f7dad8ad08d9d # v1.3.1
        with:
          path: test/k6/src/tests/texts.js
          flags: -e encodedJwk=${{ secrets.MP_ENCODEDJWK }} -e mpClientId=${{ secrets.MP_CLIENT_ID }} -e mpKid=${{ secrets.MP_KID }}
          inspect-flags: -e altinn_env=TT02 # Supplies the value for pre-run validation, when env vars / flags are not yet defined
  slack-notify:
    if: failure()
    needs: usecase-test
    uses: ./.github/workflows/send-slack-warning.yml
    permissions: {}
    with:
      warning-message: 'Storage use case test failure in TT02'
    secrets:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_PROD }}
